:root {
  --main-color: rgba(255, 166, 0, 0.9);
}

input,
textarea {
  caret-color: var(--main-color);
}

.background {
  background-image: url("../images/landing1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  height: 80vh;
}

body {
  overflow-x: hidden;
  height: 10000px;
}

/* Animations */
@keyframes fad-in {
  from {
    opacity: 0.2;
    transform: translateY(50px) scale(0.8);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fromRight {
  from {
    transform: translateX(200px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fromBottom {
  from {
    transform: translateY(200px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Styling the header of page */
header {
  height: 80px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);

  .logo-img {
    width: 130px;
  }

  .nav-link:hover,
  .nav-link.active {
    background-color: rgba(255, 166, 0, 0.616);
  }

  .dropdown-toggle:hover,
  select:hover {
    color: orange !important;
  }
}

/* Styling the landing of page */
.landing {
  height: calc(50vh - 80px);
}

/* Styling Services section */
.services {
  background-color: rgba(32, 49, 82, 0.8);

  .services-nav {
    background-color: rgba(32, 49, 82, .63);

    li {
      padding: 10px 20px;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        height: 4px;
        width: 0;
        background-color: var(--main-color);
        transition: 0.3s;
      }

      &:hover,
      &.active {
        color: var(--main-color) !important;

        &::before {
          width: 80%;
        }
      }
    }

  }

  .services-content {
    .number {
      width: 20px;
      height: 20px;
      padding: 5px;
      border: none;
      text-align: center;
      background-color: transparent;
    }

    .flights {
      .options {
        input[type="radio"] {
          appearance: none;

          &::before {
            content: '';
            position: absolute;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background-color: transparent;
            border: 2px solid var(--main-color);
            left: -10px;
            top: -10px;
          }

          &:checked::after {
            content: '';
            position: absolute;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: var(--main-color);
            top: -6px;
            left: -6px;
          }
        }
      }

      .reservation {
        .passengers {

          .fa-plus,
          .fa-minus {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.showed {
  display: block !important;
}

/* Styling Features section */
.features {
  background-image: url("../images/color-bg3.png");
  background-size: cover;
  background-position: center;

  .left,
  .center,
  .right {
    background-color: rgba(255, 255, 255, 0.6);
    position: relative;
    z-index: 100;
    min-width: 250px;
    min-height: 300px;
    transition: .3s;
    animation: fad-in linear;
    animation-timeline: view(block 98% 10px);
  }

  .left {
    transition: .3s;
    box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.1);

    .fa-bullhorn {
      transition: .3s;
    }

    &:hover .fa-bullhorn {
      transform: scale(1.2);
    }

    &:hover {
      box-shadow: -10px 10px 30px 1px rgba(0, 0, 0, 0.6);
      transform: translate(3px, -3px);
    }
  }

  .center {
    transition: .3s;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.6);
      transform: translateY(-5px);
    }

    .fa-earth {
      transition: 0.3s;
    }

    &:hover .fa-earth {
      transform: scale(1.1);
    }

  }

  .right {
    transition: .3s;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);

    .fa-thumbs-up {
      transition: .3s;
    }

    &:hover .fa-thumbs-up {
      transform: rotate(-25deg) scale(1.1);
    }

    &:hover {
      box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.6);
      transform: translate(-3px, -3px);
    }
  }
}

/* Styling Popular flights section */
.popular-flights {
  .shuffle {
    .nav-link {
      background-color: white;

      &:hover,
      &.active {
        background-color: var(--main-color);
      }
    }
  }

  .boxs {
    .box {
      min-width: 250px;
      box-shadow: 1px 1px 10px 0 rgba(83, 83, 83, 0.1);
      transition: .3s;

      &:hover {
        box-shadow: 1px 1px 30px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }

  a {
    transition: .3s;

    &:hover {
      color: var(--main-color);
    }
  }
}

/* Styling Popular hotels section */
.popular-hotels {
  background-color: rgb(255, 245, 227);

  a {
    transition: .3s;

    &:hover {
      color: var(--main-color);
    }
  }

  .carousel {
    position: relative;

    .carousel-control-next,
    .carousel-control-prev {
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--main-color);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      padding: 5px;
    }

    button.bg-warning {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      position: absolute;
      bottom: -10px;

      &:nth-child(1) {
        margin-right: 30px;
      }

      &:nth-child(2) {
        margin-left: 30px;
      }
    }

  }

  .card {
    transition: .3s;

    &:hover {
      transform: translateY(-3px);
    }

    .sign {
      top: -10px;
      left: 10px;
    }

    .fa-heart {
      cursor: pointer;
      transition: .3s;
      top: 10px;
      right: 10px;

      &:hover {
        color: red;
      }
    }
  }
}

/* Styling Top places section */
.top-places {
  .row {
    transition: .3s;
    animation: fad-in linear;
    animation-timeline: view(block 95% 10px);
  }

  .card {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 1;
    }

    .badge {
      top: 10px;
      left: 10px;
      z-index: 2;
    }

    img {
      transition: .3s;
    }

    &:hover img {
      transform: scale(1.1);
    }

    .card-body {
      bottom: -60px;
      transition: .3s;
      z-index: 2;
      width: 100%;

      .empty {
        color: rgba(255, 255, 255, 0.3);
      }
    }

    &:hover .card-body {
      bottom: -10px;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

/* Styling Testimonials section */
.testimonials {
  background-color: rgb(255, 245, 227);

  .col-lg-8 {
    transition: .3s;
    animation: fromRight linear;
    animation-timeline: view(block 95% 10px);
  }

  .rating {
    img {
      width: 80px;
      height: 80px;
    }

    .empty {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  .carousel {
    position: relative;

    .carousel-control-next,
    .carousel-control-prev {
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--main-color);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      padding: 5px;
    }

    button.bg-warning {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      position: absolute;
      bottom: -10px;

      &:nth-child(1) {
        margin-right: 30px;
      }

      &:nth-child(2) {
        margin-left: 30px;
      }
    }

  }
}