/* Stylin header of page */
header {
  background-image: none !important;
}

/* Styling landing section of tours page */
.tour {
  min-height: 50vh;
  background-image: url(/images/bread-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .lay {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .text {
    transform: translateY(-50%);

    ul {
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 3;

      li {
        &:nth-child(1) {
          list-style: none;

          a {
            transition: .3s;

            &:hover {
              color: var(--main-color);
            }
          }
        }
      }
    }
  }
}

/* Styling Tours Cards section */
.cards {
  .card {
    transition: .3s;

    &:hover {
      transform: translateY(-5px);
    }

    .fa-heart {
      right: 10px;
      top: 10px;
      transition: .3s;
      cursor: pointer;

      &:hover {
        color: red;
      }
    }

    p.badge {
      top: -10px;
      left: 10px;
    }

    .card-body {
      a.card-title {
        transition: .3s;

        &:hover {
          color: var(--main-color);
        }
      }
    }
  }
}

/* Styling Tours Features section */
.tours-features {
  background-image: url("/images/color-bg.png");
  background-size: cover;
  background-position: center;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
  }

  .feat {
    z-index: 2;
    cursor: pointer;

    &:hover .icon {
      transform: scale(1.1);
    }

    .icon {
      transition: .3s;

      &.close {
        background-color: rgba(0, 123, 255, 0.3);
        color: rgb(0, 110, 255);
      }

      &.fa-phone {
        background-color: rgba(255, 166, 0, 0.3);
        color: orange;
      }

      &.fa-money-bill-1 {
        background-color: rgba(128, 0, 128, 0.3);
        color: purple;
      }
    }
  }
}

/* Styling Subscribe section */
.subscribe {
  background-image: url("/images/subscribe.jpeg");
  background-size: cover;
  background-position: center;
  .sub {
    input {
      &:focus {
        outline: none;
      }
    }
  }
}